.header {
    height: 10vh;
    background-image: url('/assets/header/fondo-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.header-content {
    display:flex;
    height: 100%;
    margin: 0 2rem;
    align-items: center;
    color: white;
    justify-content:space-between;
}

.header-avance{
    display: flex;

    .text {
        margin-right: 10px;
        display: none;

        @media (min-width: 768px) {
            display: block;
          }
    }



}